/* Alterações pra telas menores */

@media (max-width: 700px){

  .nav{
    font-size: 50%;
  }

  .apresentacao{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }
  .info-perfil {
    width: 100%;
    text-align: center;
  }



}