main {
  grid-column: 2; /* Faz o main ocupar só a coluna central */
  grid-row: 2;    /* A partir da segunda linha */

  background-color: gray;

  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: flex-start; /* Alinha ao topo, pode usar center para centralizar verticalmente */
  min-height: auto; /* Opcional: altura mínima para ajudar na centralização */

  font-family: var(--fonte-principal);
}

.primeiraSessao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 80px 0 80px 0;;
}

.apresentacao {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;

  background-color: var(--cor-background);
}

.info-perfil{
  background-color: var(--cor-background);
  display: flex;
  flex-direction: column;

  padding: 40px 30px 90px 30px;
  color: var(--cor-tipografia);

}
.info-perfil span {
  font-size: 250%;
}
.nome-perfil {
  font-weight: bold;
  letter-spacing: 2px;
}
.curso-perfil {
  margin-top: 0;
  margin-left: 2px;
  letter-spacing: 1px;
}
.foto-perfil {
  width: 220px;
  height: 230px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #333;
  background: #fff;
}







.titulo, .conteudo {
  display: flex;
  flex-direction: column;

  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.07);
  animation: fadeIn 1s;
  padding: 23px;
  width: 80%;
  text-align: left;
  animation: fadeIn 1s;
}

.titulo {
  margin-top: 100px;
  display: flex;
  justify-content: center; /* Centraliza o conteúdo filho horizontalmente */
  align-items: left;     /* Centraliza verticalmente */
}
.titulo a {
  color: var(--cor-principal);
}
.conteudo {
  color: #14532d;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  
  margin-top: 0px;
  padding: 0 20px;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.conteudo.ativo {
  max-height: 800px; /* Ajuste conforme o conteúdo */
  padding: 0px 20px 40px 20px; /* padding-top menor */
}


.titulo.sem-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.conteudo {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}


/* --- SECTION 3 GITHUB--- */
.gitHub {
  background-color: #ffffff;
  border-radius: 5px;
}
.gitHub pre {
  margin-left: -20%;
  font-family: 'Courier New', monospace;
  color: rgb(0, 99, 0);
  box-sizing: border-box;
  margin-bottom: -1%;
}
