/* Alterações pra telas menores */

@media (max-width: 700px) {
  header {
    min-height: 1022px;
    height: 100%;
    width: 100%;
  }
  .menu {
    margin: 0 auto;
    padding: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 70%;
    width: 100%;
  }

  .nav {
    font-size: 50%;
  }

  .apresentacao {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }
  .info-perfil {
    width: 100%;
    text-align: center;
  }
}