

header {
    grid-column: 2; /* Faz o main ocupar só a coluna central */
    grid-row: 1;

    color: white;
    padding: 10px 0;
    text-align: center;
}
header nav {
    list-style-type: none;
}
header nav ul li {
    display: inline;
    margin-right: 10px;
}
header nav ul li a {
    color: white;
    text-decoration: none;
}
/* Adiciona o " | " entre os links, exceto no último */
header nav ul li:not(:last-child)::after {
    content: " | ";
    color: white;
    margin-left: 10px;
    margin-right: 0px; 
}


/* --- BOTÕES do cabeçalho --- */

div {
    display: flex; /* layout flexbox */
    justify-content: left; /* Alinha os botões horizontalmente no centro */
    gap: 10px; /* Define o espaçamento entre os botões */
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #555;
}

/* --- FIM DO HEADER --- */
