header {
    grid-column: 2; /* Faz o main ocupar só a coluna central */
    grid-row: 1;
    background: var(--cor-background);
    background: transparent;
    box-sizing: border-box;
}

.menu {
    width: 80%;
    margin: 0 auto;
    background-color: #303030;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu ul {    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 38px 0; /* Ajuste conforme necessário */
}

a {
    font-family: var(--fonte-principal);
    font-size: 120%;
    text-align: center;
    color: var(--cor-tipografia);

}

/* Adiciona o " | " entre os links, exceto no último */
header nav ul li:not(:last-child)::after {
    content: " | ";
    color: var(--cor-tipografia);
    margin-left: 10px;
    margin-right: 10px; 
}
/* --- BOTÕES do cabeçalho --- */

header nav ul li a:hover{
    transition: color 0.3s ease, text-shadow 0.3s ease;
    color: rgb(199, 199, 199);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

/* --- FIM DO HEADER --- */
