
header {
    grid-column: 2; /* Faz o main ocupar só a coluna central */
    grid-row: 1;
    background: #14532d; /* verde bem escuro */

    height: 100%;
    width: 100%;    
    box-sizing: border-box;
}
.nav{

}

.menu {
    height: 100%;
    width: auto;
    margin: 0 auto;

    background-color: rgb(186, 137, 137);
}
.menu ul{    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    margin: 0;
}

a {
    font-family: var(--fonte-principal);
    font-size: 120%;
    text-align: center;
    color: var(--cor-tipografia);
}

/* Adiciona o " | " entre os links, exceto no último */
header nav ul li:not(:last-child)::after {
    content: " | ";
    color: var(--cor-tipografia);
    margin-left: 10px;
    margin-right: 10px; 
}
/* --- BOTÕES do cabeçalho --- */

header nav ul li a:hover{
    transition: color 0.3s ease, text-shadow 0.3s ease;
    color: rgb(199, 199, 199);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

/* --- FIM DO HEADER --- */
